<div class="row">
  <div class="statistics">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <figure class="highcharts-figure">
      <div id="container"></div>
      <p class="highcharts-description">
        Activity History
      </p>
    </figure>
  </div>
</div>
<h2 id="headerMain">Recent Tasks...</h2>
<div class="row">
  <div class="recent-task">
    <ol class="list-group list-group-flush">
      @foreach (var item in ViewBag.ToDos)
      {
        <li class="list-group-item list-group-item-@item.Importance">
          <h4>@item.Title</h4>
          <p>@item.Description</p>
        </li>
      }
    </ol>
  </div>
</div>
<script>
  $(document).ready(function () {
    $.getJSON("/Home/StatsData", function (data) {

      var Dates = []
      var Qts=[]
      var QtsToDo = []
      var QtsDoing = []
      var QtsDone = []

      for (var i = 0; i < data.length; i++) {
        Dates.push(data[i].name.Date);
        Qts.push(data[i].count);
        if (data[i].name.Status == 1) {
          QtsToDo.push(data[i].count);
        } else if (data[i].name.Status == 2) {
          QtsDoing.push(data[i].count);
        } else {
          QtsDone.push(data[i].count);
        }
      }

      Highcharts.chart('container', {

        title: {
          text: 'Yearly Task Tracker'
        },

        subtitle: {
          text: 'Source:activityTracker.com'
        },

        yAxis: {
          title: {
            text: 'Number of Tasks'
          }
        },

        xAxis: {
          categories: Dates
        },

        legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle'
        },

        plotOptions: {
          line: {
            dataLabels: {
              enabled: true
            },
            enableMouseTracking: false
          }
        },

        series: [{
          name: 'ToDo',
          data: QtsToDo
        }, {
          name: 'Doing',
          data: QtsDoing

        }, {
          name: 'Done',
          data: QtsDone
        },{
          name: 'AllTasks',
          data: Qts

        }
        ],

        responsive: {
          rules: [{
            condition: {
              maxWidth: 500
            },
            chartOptions: {
              legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
              }
            }
          }]
        }

      });
    });
  });


</script>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}