@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="teams">
    
    <div class="team">
        <h2>Designer</h2>
        <ol class="list-group ">
            <li class="list-group-item">Rrezon Pllana</li>
            <li class="list-group-item">Filan Fisteku</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ol>
    </div>
     
    <div class="team">
        <h2>Programmer</h2>
        <ol class="list-group ">
            <li class="list-group-item">Rrezon Pllana</li>
            <li class="list-group-item">Filan Fisteku</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ol>
    </div>
</div>