@{
    Layout = "~/Views/Shared/_SignIn.cshtml";
}
<div class="text-center">
    <div class="title">
        <h1>Tracker.io</h1>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Register</h2>
            <partial name="RegisterPartial" />
        </div>
        <div class="col-md-4">
            <h2>Login</h2>
            <partial name="LoginPartial" />
        </div>
    </div>
</div>
